<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> -->
    <title>Ravi-IT Solutions</title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:700" rel="stylesheet">
<style type="text/css">
body {
	font-family: 'Noto Serif', serif;
}

</style>

  <body>
    <div class="jumbotron container">
        <h1>Todo work List!</h1>
        <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Task...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div><br><br>
        <table class="table">
          <thead>
            <tr>
              <th> <h5>Title</h5> </th>
              <th> <h5>Description</h5> </th>
              <th> <h5>Created/Modified</h5> </th>
              <th> <h5>Status</h5> </th>
              <th> <h5>Delete</h5> </th>
              <th> <h5>Update</h5> </th>
            </tr>
          </thead>
          <tbody>
            {% for post in object_list %}
            <tr>
              <td>{{ post.title }}</td>
              <td>{{ post.description }}</td>
              <td>{{ post.updated_at }}</td>
              <td>{{ post.status }}</td>
              <td><a class="btn btn-danger" href="{% url "blog_posts:post_delete" post.id %}" style="margin-right:20px;">Delete</a></td>
              <td><a class="btn btn-success" href="{% url "blog_posts:post_edit" post.id %}">Update</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <a class="btn btn-info" href="{% url "blog_posts:post_new" %}">New Todo Entry</a>
    </div>
  </body>
</html>
