<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Ravi-IT Solutions</title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700" rel="stylesheet">
  <style type="text/css">
  body {
  font-family: 'Noto Serif', serif;
  }


  </style>

  <body>
    <div class="jumbotron container">
      <h2>Are you sure you want to delete ?</h2>
      <form method="post">{% csrf_token %}
        <br>
        Title: {{ object.title }}
        <br>
        <br>
        Description :{{ object.description }}
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Delete" / style="margin-right:20px">
        <a href="{% url "blog_posts:post_list"%}"><button class="btn btn-primary" type="button" name="button">Cancle</button></a>
      </form>


    </div>
  </body>
</html>
